body{
    margin: 0px;
    padding: 0px;
    /*box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;*/
}
footer{
    background: #304F1A;
    color: white;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    bottom: 0px;
    box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
   
}
.container_footer{
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.5);

    
}
.column1{
    max-width: 390px;
    margin: auto;
    padding: 10px;
    width: 100%;
    display: block;
}
.column1 h2{
    font-size: 22px;
    
}
.column1 ul{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 10px;
    padding-left: 10px;
}
.column2{
    max-width: 390px;
    padding: 10px;
    margin: auto;
    display: block;
}
.column2 img{
    width: 100%;
}
.column3{
    max-width: 390px;
    padding: 10px;
    margin: auto;
    display: block;
    
}
.column3 img{
    width: 100%;
}
@media screen and (max-width:768px){
    .container_footer{
        flex-wrap: wrap;
    }
    .column1 h2{
        font-size:18px;
        text-align: center;
    }
    .column1 li{
    font-size: 12px;
    }
    .column1, .column2, .column3{
        padding: 10px;
    }
    .column2, .column3 img{
        width: 100px;
        
    }
    footer{
        padding-left: 100px;
        padding-right: 100px;

    }
}