body{
	font-size: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
    background: linear-gradient(-90deg, #68AB3B, #B2E274, #F1F9E7);
}

form{
    margin: auto;
    position:relative;
    top:150px;
    
}

.formulario{
    width: 300px;
    height: 290px;
    background: rgba(24,24,24,0.7);
    margin: auto;
    padding:20px;
    text-align: center;
    
}
.iconos{
    display:inline-block;
    position:relative;
    top:10px;
}

.usuario, .password{
    margin: 5px;
}
.formulario h2{
    padding: 5px;
    margin: 0px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}
.formulario label{
    display: block;
    padding: 5px;
    color: white;
    font-size: 12px;
}

.formulario input{
    padding: 5px;
    font-size:15px;
    border-radius: 3px;
    border: none;
    width: 150px;
}
.formulario input:focus{
    border: 2px solid #AEEA50;
    outline: none;
}

.botones{
    margin-top: 10px;
}
button{
    background: rgba(3,3,3,0.5);
    height: 30px;
    width:150px;
    color: white;
    font-size: 15px;
    margin: 00px;
    position:relative; 
    border: none;
    border-radius: 3px;
}
button:before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: all 1s ease;
}
button:hover:before {
    width: 100%;
}
/*.boton{
    text-decoration: none;
    padding: 5px;
    padding-left: 47px;
    padding-right: 47px;
    color: #ffffff;
    background: rgba(24,24,24,0.7);
    border-radius: 3px;
}*/
@media(max-width:768px){
    form{
        top:140px;
    }
    .formulario{
        width: 200px;
        height: 270px;
        padding:10px;
    }
    .formulario input{
    padding: 5px;
    font-size:15px;
    border-radius: 3px;
    border: none;
    width: 100px;
    }

}